node-red/flows.json
[{"id":"a15211ee09bb48e9","type":"tab","label":"Location Mode v4","disabled":false,"info":""},{"id":"21f238a495b3a00a","type":"tab","label":"Frigate Notifications","disabled":false,"info":""},{"id":"3a35a267933ab808","type":"tab","label":"Sleep Control","disabled":false,"info":""},{"id":"39034338.01926c","type":"tab","label":"TV Control","disabled":false,"info":""},{"id":"852fda1caf311b19","type":"tab","label":"Light Control","disabled":false,"info":""},{"id":"85c380e5d91e39da","type":"tab","label":"Drew Morning Routine","disabled":false,"info":""},{"id":"7940d991e704bd9e","type":"tab","label":"Dog Walk","disabled":false,"info":""},{"id":"5447a0cbbda49da2","type":"tab","label":"Lock","disabled":true,"info":""},{"id":"bed7bf5d2a2d1f24","type":"tab","label":"Doorbell Control","disabled":false,"info":""},{"id":"9fc674fc1a2904d7","type":"subflow","name":"Sub TV Light Change","info":"Set's TV lights to COLOR (string) for DELAY TIME (seconds), then reverts them back to their previous state. ","category":"","in":[{"x":40,"y":80,"wires":[{"id":"3834f5ff129dc320"}]}],"out":[{"x":2060,"y":80,"wires":[{"id":"65010b0f24926262","port":0}]}],"env":[{"name":"COLOR","type":"str","value":"red"},{"name":"DELAY_TIME","type":"num","value":"10"}],"color":"#DDAA99"},{"id":"a917c23be2dabc28","type":"subflow","name":"Sub TV Light Change (2)","info":"Set's TV lights to COLOR (string) for DELAY TIME (seconds), then reverts them back to their previous state. ","category":"","in":[{"x":40,"y":80,"wires":[{"id":"38c87a13d99d3e7c"}]}],"out":[{"x":2060,"y":80,"wires":[{"id":"0e66855dba50d3bc","port":0}]}],"env":[{"name":"COLOR","type":"str","value":"red"},{"name":"DELAY_TIME","type":"num","value":"10"}],"meta":{},"color":"#DDAA99"},{"id":"1e61b5d8f19fafed","type":"group","z":"852fda1caf311b19","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1e23613c5e7691e9","e668bd378e075f92","89da572f4a580257","df5eefd307310fdc","369a65c44a71ee68"],"x":124,"y":39,"w":742,"h":122},{"id":"67b09985f8aad9de","type":"group","z":"852fda1caf311b19","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["89d7e035be9d9bbc","7ff5979ccf925d6b","aca6ead69fd04046","e265e05825ab3338","64266e5081916999","1459041bf6b30158","38d8ddf8a0f5098a"],"x":114,"y":179,"w":842,"h":162},{"id":"d98d90362d2ffe03","type":"group","z":"852fda1caf311b19","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["60d89113fd49595b","0b520140c9313079","2147eb974dc82768","6736cdeb5701b2c1","203253975e893a06","935d7f4eab37b283","29bb987fb1516928","339265bac978e855","137427e39874ea62","b7d53d420cc38bce","ee7db47612ba0176","161108c385a4e1ea","4f4b3a8ec49a2206","2498b7a41ee4ed7f","d250b3e649ae6c6f"],"x":114,"y":379,"w":1112,"h":262},{"id":"db1aca64f5e8d5d8","type":"group","z":"852fda1caf311b19","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["41c6bc5e651a39fb","16312e0fb7387d59","56f9e19fc99d5b33","97b2179367cdcd6d","6725c4a36f6c9c5f","036ad86cd32ed5df","98861fc628e5b005","d0280d1499da7517","d030ca66b9c8d0a1","333eb0dcf9efa66b","ead1ac1a43bfaecc","9fb739a7942847ef","8e08dede5d63f149"],"x":114,"y":699,"w":772,"h":262},{"id":"4165c230.e7a54c","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"6908829.8a82a7c","type":"alexa-home-conf","username":"AML225"},{"id":"4238db6e.227ed4","type":"mqtt-broker","name":"","broker":"192.168.1.8","port":"1883","clientid":"homeassistant","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"849977e5.257f68","type":"tls-config","name":"HASS-TLS","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"6ab75d19.267624","type":"api-call-service","z":"39034338.01926c","name":"Watch AppleTV","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"remote","service":"turn_on","entityId":"remote.harmony_hub","data":"{\"activity\":\"Watch Apple TV\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":100,"wires":[["af74b434.cf1ba8"]]},{"id":"af74b434.cf1ba8","type":"debug","z":"39034338.01926c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":100,"wires":[]},{"id":"3a69e3dc.141fac","type":"debug","z":"39034338.01926c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"537d2889.e6b478","type":"api-call-service","z":"39034338.01926c","name":"Play Xbox","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"remote","service":"turn_on","entityId":"remote.harmony_hub","data":"{\"activity\":\"Play Xbox\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":160,"wires":[["3a69e3dc.141fac"]]},{"id":"fd9c9b94.582688","type":"api-call-service","z":"39034338.01926c","name":"Play Playstation","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"remote","service":"turn_on","entityId":"remote.harmony_hub","data":"{\"activity\":\"Play Playstation\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":220,"wires":[["39059ea7.328012"]]},{"id":"39059ea7.328012","type":"debug","z":"39034338.01926c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":220,"wires":[]},{"id":"8cf53eb2.233e2","type":"debug","z":"39034338.01926c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":280,"wires":[]},{"id":"a3182c9a.8e368","type":"api-call-service","z":"39034338.01926c","name":"Turn Off TV","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"remote","service":"turn_off","entityId":"remote.harmony_hub","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":280,"wires":[["8cf53eb2.233e2"]]},{"id":"57ea242e.b0d54c","type":"server-state-changed","z":"39034338.01926c","name":"","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"remote.harmony_hub","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":360,"wires":[["eb9370265de65626"]]},{"id":"7dbc6e42.d2b55","type":"api-call-service","z":"39034338.01926c","name":"Turn On TV Lights","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_light_1, light.tv_light_2, light.tv_light_3","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":360,"wires":[["592df294.32183c"]]},{"id":"592df294.32183c","type":"debug","z":"39034338.01926c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":360,"wires":[]},{"id":"dbe58b2e.622658","type":"api-call-service","z":"39034338.01926c","name":"Turn Off TV Lights","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.tv_light_1, light.tv_light_2, light.tv_light_3","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":420,"wires":[["42d77f28.000c6"]]},{"id":"42d77f28.000c6","type":"debug","z":"39034338.01926c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":420,"wires":[]},{"id":"133178b2.cfdea7","type":"server-events","z":"39034338.01926c","name":"","server":"4165c230.e7a54c","version":1,"event_type":"shortcut_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":160,"wires":[["e5afdba6.557d18"]]},{"id":"e5afdba6.557d18","type":"switch","z":"39034338.01926c","name":"","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"eq","v":"watch_apple_tv","vt":"str"},{"t":"eq","v":"play_xbox","vt":"str"},{"t":"eq","v":"play_playstation","vt":"str"},{"t":"eq","v":"turn_off_tv","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":330,"y":160,"wires":[["6ab75d19.267624"],["537d2889.e6b478"],["fd9c9b94.582688"],["a3182c9a.8e368"]]},{"id":"1e23613c5e7691e9","type":"debug","z":"852fda1caf311b19","g":"1e61b5d8f19fafed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":120,"wires":[]},{"id":"e668bd378e075f92","type":"api-call-service","z":"852fda1caf311b19","g":"1e61b5d8f19fafed","name":"Light Group 1","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.pipe_lamp, light.living_room_lamp, light.bookshelf_lamp","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":120,"wires":[["1e23613c5e7691e9"]]},{"id":"89da572f4a580257","type":"server-events","z":"852fda1caf311b19","g":"1e61b5d8f19fafed","name":"","server":"4165c230.e7a54c","version":1,"event_type":"shortcut_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":260,"y":120,"wires":[["df5eefd307310fdc"]]},{"id":"df5eefd307310fdc","type":"switch","z":"852fda1caf311b19","g":"1e61b5d8f19fafed","name":"","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"eq","v":"light_group_1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":120,"wires":[["e668bd378e075f92"]]},{"id":"c56af29854d00083","type":"time-range-switch","z":"a15211ee09bb48e9","name":"","lat":"34.171509","lon":"-118.601668","startTime":"sunrise","endTime":"goldenHour","startOffset":0,"endOffset":"-60","x":1000,"y":200,"wires":[["2b23b270d179fba0"],["564390e403418c21"]]},{"id":"2b23b270d179fba0","type":"api-call-service","z":"a15211ee09bb48e9","name":"location mode is home","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.location_mode","data":"{\"option\":\"home\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":160,"wires":[["cf7de4a7e3a00f4b"]]},{"id":"564390e403418c21","type":"api-call-service","z":"a15211ee09bb48e9","name":"location mode is night","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.location_mode","data":"{\"option\":\"night\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":220,"wires":[["a78a990ab3a782d7"]]},{"id":"e5619f9dcc520abf","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":100,"wires":[]},{"id":"ee6a0a1c267c98cc","type":"api-call-service","z":"a15211ee09bb48e9","name":"location mode is alseep","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.location_mode","data":"{\"option\":\"asleep\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":100,"wires":[["e5619f9dcc520abf"]]},{"id":"288960e2cd2bc248","type":"server-state-changed","z":"a15211ee09bb48e9","name":"If Drew sleep sensor changes","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.drew_asleep","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":100,"wires":[["cd57a6fdcbdbba92"]]},{"id":"4c96b3fdd18bba1e","type":"server-state-changed","z":"a15211ee09bb48e9","name":"If Shelby sleep sensor changes","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.shelby_asleep","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":160,"wires":[["cd57a6fdcbdbba92"]]},{"id":"1fa058b1466cb824","type":"api-call-service","z":"a15211ee09bb48e9","name":"location mode is away","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.location_mode","data":"{\"option\":\"away\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":260,"wires":[["968f5ec81c4054c4"]]},{"id":"20522e41ba919aa7","type":"server-state-changed","z":"a15211ee09bb48e9","name":"If Drew home/away changes","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.andrew_lane","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":220,"wires":[["cd57a6fdcbdbba92"]]},{"id":"45a7ed32a35dc779","type":"server-state-changed","z":"a15211ee09bb48e9","name":"If Shelby home/away changes","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.shelby_hulett","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":280,"wires":[["cd57a6fdcbdbba92"]]},{"id":"c3c1d977aef0da8f","type":"switch","z":"a15211ee09bb48e9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":180,"wires":[["b786efcee6532d4e"],["1fa058b1466cb824"]]},{"id":"cfbc01b7d18de38c","type":"switch","z":"a15211ee09bb48e9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"asleep","vt":"str"},{"t":"eq","v":"awake","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":180,"wires":[["ee6a0a1c267c98cc"],["c56af29854d00083"]]},{"id":"cf7de4a7e3a00f4b","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1430,"y":160,"wires":[]},{"id":"a78a990ab3a782d7","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1430,"y":220,"wires":[]},{"id":"968f5ec81c4054c4","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":260,"wires":[]},{"id":"08adacede9b3344e","type":"server-state-changed","z":"a15211ee09bb48e9","name":"If Location Mode changes","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.location_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":580,"wires":[["302f8e4977bf5fff","efa85911e8b2e6e9","8a51b15427a49fe5"]]},{"id":"302f8e4977bf5fff","type":"switch","z":"a15211ee09bb48e9","name":"which mode?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"night","vt":"str"},{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"asleep","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":500,"wires":[["a82bad6f2fa3f57a"],["5a9ed9733b4faadb"],["ab2075e5540750b5"],["28f17dfa17facd4e"]]},{"id":"a6552e9a82965d06","type":"api-call-service","z":"a15211ee09bb48e9","name":"Turn on Night scene","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.location_mode_change_to_night","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":380,"wires":[["3f30efdb75704bc8"]]},{"id":"3f30efdb75704bc8","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":380,"wires":[]},{"id":"efa85911e8b2e6e9","type":"function","z":"a15211ee09bb48e9","name":"If location mode was \"asleep\" and is not \"away\"","func":"var newState = msg.data.new_state.state;\nvar oldState = msg.data.old_state.state;\n\nif(oldState==\"asleep\" && newState!=\"away\"){\n    return msg;\n}\nelse{return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["926ac6900e05b339"]]},{"id":"926ac6900e05b339","type":"api-call-service","z":"a15211ee09bb48e9","name":"turn off air purifier","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.air_purifier","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":580,"wires":[["90e14c1675b4f3a5"]]},{"id":"90e14c1675b4f3a5","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":580,"wires":[]},{"id":"8a51b15427a49fe5","type":"change","z":"a15211ee09bb48e9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Location mode is: \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":640,"wires":[["731da0f6c78d51c9"]]},{"id":"731da0f6c78d51c9","type":"api-call-service","z":"a15211ee09bb48e9","name":"notification","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_drews_iphone","entityId":"","data":"{\"message\":$.payload}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":640,"wires":[["86faa42f63906610"]]},{"id":"86faa42f63906610","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":640,"wires":[]},{"id":"cd57a6fdcbdbba92","type":"function","z":"a15211ee09bb48e9","name":"is anyone home?","func":"const globalHomeAssistant = global.get('homeassistant');\nvar drew_home = globalHomeAssistant.homeAssistant.states[\"person.andrew_lane\"].state;\nvar shelby_home = globalHomeAssistant.homeAssistant.states[\"person.shelby_hulett\"].state;\n\nif(drew_home==\"home\" || shelby_home==\"home\"){\n    msg.payload = \"home\";\n}\nelse{\n    msg.payload = \"not_home\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":100,"wires":[["c3c1d977aef0da8f"]]},{"id":"b786efcee6532d4e","type":"function","z":"a15211ee09bb48e9","name":"is anyone asleep?","func":"const globalHomeAssistant = global.get('homeassistant');\nvar drew_asleep = globalHomeAssistant.homeAssistant.states[\"sensor.drew_asleep\"].state;\nvar shelby_asleep = globalHomeAssistant.homeAssistant.states[\"sensor.shelby_asleep\"].state;\nvar newMsg;\n\nif (drew_asleep==\"asleep\" || shelby_asleep==\"asleep\") {\n    msg.payload = \"asleep\";\n}\nelse{\n    msg.payload = \"awake\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":180,"wires":[["cfbc01b7d18de38c"]]},{"id":"436ffa5aa37fc3ae","type":"server-state-changed","z":"a15211ee09bb48e9","name":"If Drew home/away changes","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.andrew_lane","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":700,"wires":[["1f623511c040901a"]]},{"id":"d9000ba293049d9e","type":"server-state-changed","z":"a15211ee09bb48e9","name":"If Shelby home/away changes","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.shelby_hulett","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":760,"wires":[["eb27fe44247a75cb"]]},{"id":"1f623511c040901a","type":"change","z":"a15211ee09bb48e9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Drew is: \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":700,"wires":[["99b036ff92953b98"]]},{"id":"99b036ff92953b98","type":"api-call-service","z":"a15211ee09bb48e9","name":"notification","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_drews_iphone","entityId":"","data":"{\"message\":$.payload}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":740,"wires":[["74be738dbf7c7321"]]},{"id":"74be738dbf7c7321","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":740,"wires":[]},{"id":"eb27fe44247a75cb","type":"change","z":"a15211ee09bb48e9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Shelby is: \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":760,"wires":[["99b036ff92953b98"]]},{"id":"4911337e0e1620a5","type":"inject","z":"a15211ee09bb48e9","d":true,"name":"Every 5 minutes","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":60,"wires":[["cd57a6fdcbdbba92"]]},{"id":"680d50f1f6c2a985","type":"server-state-changed","z":"a15211ee09bb48e9","name":"If Location Mode is Away for 10 min","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.location_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":860,"wires":[["e6c14134180a39c5"],[]]},{"id":"e6c14134180a39c5","type":"api-call-service","z":"a15211ee09bb48e9","name":"Arm Alexa Guard","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.alexa_guard_4af74","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":860,"wires":[["bc75086293954b74"]]},{"id":"bc75086293954b74","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":860,"wires":[]},{"id":"5f365c8e4ede9ef6","type":"server-state-changed","z":"a15211ee09bb48e9","name":"If Location Mode is not Away","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.location_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"away","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":920,"wires":[["74642c782fd819c6"],[]]},{"id":"1c39e2473491bd43","type":"api-call-service","z":"a15211ee09bb48e9","name":"Disarm Alexa Guard","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.alexa_guard_4af74","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":920,"wires":[["2267adc92d550f9c"]]},{"id":"2267adc92d550f9c","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":920,"wires":[]},{"id":"74642c782fd819c6","type":"api-current-state","z":"a15211ee09bb48e9","name":"if Alexa Guard is Armed","server":"4165c230.e7a54c","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.alexa_guard_4af74","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":430,"y":920,"wires":[["1c39e2473491bd43"]]},{"id":"1835cf50fd9b67a8","type":"eztimer","z":"a15211ee09bb48e9","name":"","debug":false,"autoname":"sunrise - goldenHour","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"34.17157122978204","lon":"-118.60097759091167","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"sunrise","ontimetod":"17:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"goldenHour","offtimetod":"dusk","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":"-58","offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":180,"y":340,"wires":[["cd57a6fdcbdbba92"]]},{"id":"fc1a2199b959cf40","type":"api-current-state","z":"9fc674fc1a2904d7","name":"current light state","server":"4165c230.e7a54c","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.tv_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":390,"y":140,"wires":[["900f837740bdabf0"],["63885db04d342ea6"]]},{"id":"900f837740bdabf0","type":"change","z":"9fc674fc1a2904d7","name":"","rules":[{"t":"set","p":"prevState.state","pt":"msg","to":"data.state","tot":"msg"},{"t":"set","p":"prevState.brightness","pt":"msg","to":"data.attributes.brightness","tot":"msg"},{"t":"set","p":"prevState.rgb_color","pt":"msg","to":"data.attributes.rgb_color","tot":"msg"},{"t":"set","p":"prev_off","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":100,"wires":[["c5cd0096fb9b135d"]]},{"id":"c5cd0096fb9b135d","type":"api-call-service","z":"9fc674fc1a2904d7","name":"turn light $COLOR","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lights","data":"{\"color_name\":$env('COLOR'),\"brightness\":\"255\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":100,"wires":[["45de2d73303b3731"]]},{"id":"52eef8666e6ad4e0","type":"api-call-service","z":"9fc674fc1a2904d7","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lights","data":"{\"brightness\":msg.prevState.brightness,\"rgb_color\":msg.prevState.rgb_color}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1670,"y":60,"wires":[["65010b0f24926262"]]},{"id":"3a1936ac1657eb56","type":"delay","z":"9fc674fc1a2904d7","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":100,"wires":[["484a860608e24b19"]]},{"id":"484a860608e24b19","type":"switch","z":"9fc674fc1a2904d7","name":"","property":"prev_off","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":100,"wires":[["83f522b6ba0bafcd"],["1b4bb68dd9a9758a"]]},{"id":"63885db04d342ea6","type":"api-call-service","z":"9fc674fc1a2904d7","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":240,"wires":[["1ff5b76bd58de7f7"]]},{"id":"1b4bb68dd9a9758a","type":"api-call-service","z":"9fc674fc1a2904d7","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lights","data":"{\"brightness\":msg.prevState.brightness,\"rgb_color\":msg.prevState.rgb_color}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":120,"wires":[["240893c184180980"]]},{"id":"240893c184180980","type":"api-call-service","z":"9fc674fc1a2904d7","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.tv_lights","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1730,"y":120,"wires":[["65010b0f24926262"]]},{"id":"1ff5b76bd58de7f7","type":"api-current-state","z":"9fc674fc1a2904d7","name":"current light state","server":"4165c230.e7a54c","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.tv_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":670,"y":240,"wires":[["c3cb634946097647"]]},{"id":"3834f5ff129dc320","type":"change","z":"9fc674fc1a2904d7","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":140,"wires":[["fc1a2199b959cf40"]]},{"id":"c3cb634946097647","type":"change","z":"9fc674fc1a2904d7","name":"","rules":[{"t":"set","p":"prevState.state","pt":"msg","to":"data.state","tot":"msg"},{"t":"set","p":"prevState.brightness","pt":"msg","to":"data.attributes.brightness","tot":"msg"},{"t":"set","p":"prevState.rgb_color","pt":"msg","to":"data.attributes.rgb_color","tot":"msg"},{"t":"set","p":"prev_off","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":240,"wires":[["c5cd0096fb9b135d"]]},{"id":"83f522b6ba0bafcd","type":"json","z":"9fc674fc1a2904d7","name":"","property":"prevState.rgb_color","action":"obj","pretty":false,"x":1510,"y":60,"wires":[["52eef8666e6ad4e0"]]},{"id":"65010b0f24926262","type":"change","z":"9fc674fc1a2904d7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":80,"wires":[[]]},{"id":"45de2d73303b3731","type":"change","z":"9fc674fc1a2904d7","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"$env('DELAY_TIME')*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":280,"wires":[["3a1936ac1657eb56"]]},{"id":"84ce784346ae8383","type":"server-events","z":"85c380e5d91e39da","name":"","server":"4165c230.e7a54c","version":1,"event_type":"shortcut_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":200,"y":120,"wires":[["e3d40c13c3423f74"]]},{"id":"e3d40c13c3423f74","type":"switch","z":"85c380e5d91e39da","name":"","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"eq","v":"drew_morning_routine","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":120,"wires":[["3be2e860273ada87"]]},{"id":"3be2e860273ada87","type":"api-call-service","z":"85c380e5d91e39da","name":"turn on drew_morning_routine","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.drew_morning_routine","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":120,"wires":[["e6de807e8ce5dd06"]]},{"id":"e6de807e8ce5dd06","type":"debug","z":"85c380e5d91e39da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":120,"wires":[]},{"id":"3eb431b5d0e1e5e6","type":"inject","z":"85c380e5d91e39da","name":"Everyday at 8am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":480,"wires":[["6738bd6444df01d9"]]},{"id":"6738bd6444df01d9","type":"api-call-service","z":"85c380e5d91e39da","name":"turn off lights","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.pipe_lamp, light.living_room_lamp, light.bookshelf_lamp, light.track_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":480,"wires":[["700dc90b0503f8b4"]]},{"id":"094a94af0609a24d","type":"debug","z":"85c380e5d91e39da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":480,"wires":[]},{"id":"700dc90b0503f8b4","type":"api-call-service","z":"85c380e5d91e39da","name":"turn off drew_morning_routine","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.drew_morning_routine","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":480,"wires":[["094a94af0609a24d"]]},{"id":"5c289de147e8c6ae","type":"server-state-changed","z":"85c380e5d91e39da","name":"When drew_morning_routine changes to ON","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.drew_morning_routine","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":240,"wires":[["fc4c0429a211f57b","1de8c7bb3436dc08"],[]]},{"id":"fc4c0429a211f57b","type":"ha-wait-until","z":"85c380e5d91e39da","name":"wait until kettle is ON","server":"4165c230.e7a54c","version":0,"outputs":2,"entityId":"binary_sensor.kettle_on","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"60","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":520,"y":280,"wires":[["75e4b31b9d9bc596"],[]]},{"id":"75e4b31b9d9bc596","type":"ha-wait-until","z":"85c380e5d91e39da","name":"wait until kettle is OFF","server":"4165c230.e7a54c","version":0,"outputs":2,"entityId":"binary_sensor.kettle_on","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"60","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":760,"y":280,"wires":[["c5eceb891b0a7a04"],[]]},{"id":"c5eceb891b0a7a04","type":"api-call-service","z":"85c380e5d91e39da","name":"Watch AppleTV","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"remote","service":"turn_on","entityId":"remote.harmony_hub","data":"{\"activity\":\"Watch Apple TV\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":280,"wires":[["c3b07bb9ab761a14"]]},{"id":"c3b07bb9ab761a14","type":"api-call-service","z":"85c380e5d91e39da","name":"turn off drew_morning_routine","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.drew_morning_routine","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":360,"wires":[["296661eae75b579d","8ea4fcba93b39ff2"]]},{"id":"296661eae75b579d","type":"delay","z":"85c380e5d91e39da","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":360,"wires":[["e6e24c919caf8cd1"]]},{"id":"e6e24c919caf8cd1","type":"api-call-service","z":"85c380e5d91e39da","name":"notification","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_drews_iphone","entityId":"","data":"{\"message\":\"Your tea is ready!\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":360,"wires":[["026bcdab72b63991"]]},{"id":"026bcdab72b63991","type":"subflow:9fc674fc1a2904d7","z":"85c380e5d91e39da","name":"","env":[{"name":"COLOR","value":"green","type":"str"}],"x":1060,"y":360,"wires":[["5f9f8782fa74dafc"]]},{"id":"5f9f8782fa74dafc","type":"debug","z":"85c380e5d91e39da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":360,"wires":[]},{"id":"e9f0d2386f54a6b3","type":"debug","z":"85c380e5d91e39da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":220,"wires":[]},{"id":"1de8c7bb3436dc08","type":"api-call-service","z":"85c380e5d91e39da","name":"Light Group 1","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.pipe_lamp, light.living_room_lamp, light.bookshelf_lamp, light.track_lights, switch.kitchen_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":220,"wires":[["e9f0d2386f54a6b3"]]},{"id":"6cdb3da6102fba37","type":"moment","z":"7940d991e704bd9e","name":"","topic":"","input":"payload.time_fired","inputType":"msg","inTz":"America/Los_Angeles","adjAmount":0,"adjType":"days","adjDir":"add","format":"dddd h:mm a","locale":"C","output":"payload","outputType":"msg","outTz":"America/Los_Angeles","x":580,"y":160,"wires":[["f4de9f157c743c5d"]]},{"id":"f4de9f157c743c5d","type":"api-call-service","z":"7940d991e704bd9e","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.dog_last_walked","data":"{\"value\":$.payload}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":160,"wires":[["7492eaef53ba7908"]]},{"id":"7492eaef53ba7908","type":"debug","z":"7940d991e704bd9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":160,"wires":[]},{"id":"a0b366d2a5bdd5b4","type":"server-state-changed","z":"7940d991e704bd9e","name":"If Archie is not home for 2 minutes","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.archie_ble_tag_tracker","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":160,"wires":[["2f9e72258ad0a5bb"],[]]},{"id":"2f9e72258ad0a5bb","type":"ha-wait-until","z":"7940d991e704bd9e","name":"","server":"4165c230.e7a54c","version":0,"outputs":1,"entityId":"device_tracker.archie_ble_tag_tracker","entityIdFilterType":"exact","property":"state","comparator":"is","value":"home","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":380,"y":160,"wires":[["6cdb3da6102fba37"]]},{"id":"96671e8ac898eed9","type":"debug","z":"7940d991e704bd9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":260,"wires":[]},{"id":"9c22c930d23011fb","type":"api-call-service","z":"7940d991e704bd9e","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\t   \"message\":\"Archie was last out \" & $.payload,\t   \"data\":{\"type\":\"tts\", \"method\":\"speak\"},\t   \"target\":$.data\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":260,"wires":[["96671e8ac898eed9"]]},{"id":"f6605dcb35b788e5","type":"function","z":"7940d991e704bd9e","name":"Get Info & Last Alexa","func":"const globalHomeAssistant = global.get('homeassistant');\nvar last_alexa = globalHomeAssistant.homeAssistant.states[\"sensor.last_alexa\"].state;\nvar dog_last_walked = globalHomeAssistant.homeAssistant.states[\"input_text.dog_last_walked\"].state;\n\n\n    msg.payload = dog_last_walked;\n    msg.data = last_alexa;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":260,"wires":[["9c22c930d23011fb"]]},{"id":"01b28c78c684b8be","type":"delay","z":"7940d991e704bd9e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":260,"wires":[["f6605dcb35b788e5"]]},{"id":"a220bbe552330870","type":"alexa-home","z":"7940d991e704bd9e","conf":"6908829.8a82a7c","device":"151962","acknoledge":true,"name":"Dog Last Out","topic":"","x":90,"y":260,"wires":[["01b28c78c684b8be"]]},{"id":"4cea9ef59ea9796f","type":"api-call-service","z":"7940d991e704bd9e","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\t   \"message\":\"Archie was last out \" & $.payload,\t   \"data\":{\"type\":\"tts\", \"method\":\"speak\"},\t   \"target\":$.data\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":380,"wires":[["c831d3cf84a1de4f"]]},{"id":"de45bfd83d757e03","type":"function","z":"7940d991e704bd9e","name":"Get Info & Last Alexa","func":"const globalHomeAssistant = global.get('homeassistant');\nvar last_alexa = globalHomeAssistant.homeAssistant.states[\"sensor.last_alexa\"].state;\nvar dog_last_walked = globalHomeAssistant.homeAssistant.states[\"input_text.dog_last_walked\"].state;\n\n\n    msg.payload = dog_last_walked;\n    msg.data = last_alexa;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":380,"wires":[["4cea9ef59ea9796f"]]},{"id":"52a6a11fcb4c4bce","type":"inject","z":"7940d991e704bd9e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":380,"wires":[["de45bfd83d757e03"]]},{"id":"c831d3cf84a1de4f","type":"debug","z":"7940d991e704bd9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":380,"wires":[]},{"id":"1995e592a86feec9","type":"api-call-service","z":"3a35a267933ab808","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.drew_asleep","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":100,"wires":[["c29e10052197ef8c"]]},{"id":"65f85af34c71b8e0","type":"api-call-service","z":"3a35a267933ab808","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.drew_asleep","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":160,"wires":[["c29e10052197ef8c"]]},{"id":"c29e10052197ef8c","type":"api-current-state","z":"3a35a267933ab808","name":"","server":"4165c230.e7a54c","version":2,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.drew_asleep","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"global","value":"","valueType":"entityState"},{"property":"data","propertyType":"global","value":"","valueType":"entity"}],"x":1060,"y":140,"wires":[["5faa32ceb95049d6"],["5faa32ceb95049d6"]]},{"id":"5faa32ceb95049d6","type":"debug","z":"3a35a267933ab808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":140,"wires":[]},{"id":"c762de46db90dcf7","type":"api-call-service","z":"3a35a267933ab808","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.shelby_asleep","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":260,"wires":[["d3f842a01e46d3b4"]]},{"id":"30ca1e0049078609","type":"api-call-service","z":"3a35a267933ab808","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.shelby_asleep","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":320,"wires":[["d3f842a01e46d3b4"]]},{"id":"d3f842a01e46d3b4","type":"api-current-state","z":"3a35a267933ab808","name":"","server":"4165c230.e7a54c","version":2,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.shelby_asleep","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"global","value":"","valueType":"entityState"},{"property":"data","propertyType":"global","value":"","valueType":"entity"}],"x":1070,"y":300,"wires":[["ae2d7b4f2c0a8a36"],["ae2d7b4f2c0a8a36"]]},{"id":"ae2d7b4f2c0a8a36","type":"debug","z":"3a35a267933ab808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":300,"wires":[]},{"id":"2974c97addb8f8db","type":"inject","z":"3a35a267933ab808","name":"Every day at noon","props":[{"p":"payload"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":200,"wires":[["1995e592a86feec9","c762de46db90dcf7"]]},{"id":"7e54681861120509","type":"inject","z":"3a35a267933ab808","name":"Every day at 11:59pm","props":[{"p":"payload"}],"repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":260,"wires":[["65f85af34c71b8e0","30ca1e0049078609"]]},{"id":"6d49f378b8c6255c","type":"server-events","z":"3a35a267933ab808","name":"","server":"4165c230.e7a54c","version":1,"event_type":"shortcut_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":220,"y":140,"wires":[["3e03c68e2f083547"]]},{"id":"3e03c68e2f083547","type":"switch","z":"3a35a267933ab808","name":"","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"eq","v":"drew_awake","vt":"str"},{"t":"eq","v":"drew_sleep","vt":"str"},{"t":"eq","v":"shelby_awake","vt":"str"},{"t":"eq","v":"shelby_sleep","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":140,"wires":[["1995e592a86feec9"],["65f85af34c71b8e0"],["c762de46db90dcf7"],["30ca1e0049078609"]]},{"id":"7ecef656f9de89ae","type":"server-state-changed","z":"3a35a267933ab808","name":"If Shelby is not home","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.shelby_hulett","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":480,"wires":[["7c6273fb44d585be"],[]]},{"id":"bb8439c31080f875","type":"server-state-changed","z":"3a35a267933ab808","name":"If Drew is not home","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.andrew_lane","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":420,"wires":[["20406298e0142d12"],[]]},{"id":"7c6273fb44d585be","type":"api-call-service","z":"3a35a267933ab808","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.shelby_asleep","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":460,"y":480,"wires":[["5df1b853b485c0af"]]},{"id":"20406298e0142d12","type":"api-call-service","z":"3a35a267933ab808","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.drew_asleep","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":460,"y":420,"wires":[["9d14843479c6563d"]]},{"id":"9d14843479c6563d","type":"debug","z":"3a35a267933ab808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":420,"wires":[]},{"id":"5df1b853b485c0af","type":"debug","z":"3a35a267933ab808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":480,"wires":[]},{"id":"7e185c446893bd7c","type":"server-state-changed","z":"5447a0cbbda49da2","d":true,"name":"If Drew BT not home for 3 minutes","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.drew_iphone_bt","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"3","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":100,"wires":[["d3e496b861f8dbc0"],[]]},{"id":"4c157d3050c50d54","type":"ha-wait-until","z":"5447a0cbbda49da2","d":true,"name":"wait until Drew BT is in entrace","server":"4165c230.e7a54c","version":0,"outputs":2,"entityId":"sensor.drews_bt_current_room","entityIdFilterType":"exact","property":"state","comparator":"is","value":"entrance","valueType":"str","timeout":"2","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":550,"y":40,"wires":[["5ae49a9e8b555b4a"],[]]},{"id":"af039f16dd1a63eb","type":"comment","z":"5447a0cbbda49da2","d":true,"name":"Door Auto Unlock","info":"","x":140,"y":60,"wires":[]},{"id":"0ce9779dc4b4ecee","type":"server-state-changed","z":"5447a0cbbda49da2","d":true,"name":"","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.shelby_iphone_bt","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"3","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":280,"wires":[["ec2c65098a335ae6"],[]]},{"id":"ec2c65098a335ae6","type":"ha-wait-until","z":"5447a0cbbda49da2","d":true,"name":"","server":"4165c230.e7a54c","version":0,"outputs":2,"entityId":"sensor.shelbys_bt_current_room","entityIdFilterType":"exact","property":"state","comparator":"is","value":"entrance","valueType":"str","timeout":"8","timeoutType":"num","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":500,"y":280,"wires":[["71485d647ba23c09"],[]]},{"id":"5ae49a9e8b555b4a","type":"change","z":"5447a0cbbda49da2","d":true,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Door auto unlocked by DREW!\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":100,"wires":[["b78ae237fd2ec7f4"]]},{"id":"71485d647ba23c09","type":"change","z":"5447a0cbbda49da2","d":true,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Door unlocked by SHELBY!\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["b78ae237fd2ec7f4"]]},{"id":"c68cbc989412ec97","type":"api-call-service","z":"5447a0cbbda49da2","d":true,"name":"notification","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_andrews_iphone_12_pro","entityId":"","data":"{\"message\":$.payload}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":60,"wires":[[]]},{"id":"0c3182355b1aba8e","type":"debug","z":"5447a0cbbda49da2","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":120,"wires":[]},{"id":"e92ac3b28509ef8b","type":"api-call-service","z":"5447a0cbbda49da2","d":true,"name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"lock","service":"unlock","entityId":"lock.front_door_lock_locked","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":120,"wires":[["0c3182355b1aba8e"]]},{"id":"b78ae237fd2ec7f4","type":"api-current-state","z":"5447a0cbbda49da2","d":true,"name":"auto_unlock enabled?","server":"4165c230.e7a54c","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.auto_unlock","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":880,"y":120,"wires":[["e92ac3b28509ef8b","c68cbc989412ec97"],[]]},{"id":"eeaaec361ff1a29c","type":"server-state-changed","z":"5447a0cbbda49da2","d":true,"name":"If door is unlocked","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"lock.front_door_lock_locked","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unlocked","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":420,"wires":[["294fde643f568a5c"],[]]},{"id":"21da22f1d4b85d34","type":"api-call-service","z":"5447a0cbbda49da2","d":true,"name":"turn off auto_unlock","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.auto_unlock","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":420,"wires":[["b37028db7449c5f4"]]},{"id":"b37028db7449c5f4","type":"delay","z":"5447a0cbbda49da2","d":true,"name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":420,"wires":[["7104ecb0450aacc7"]]},{"id":"7104ecb0450aacc7","type":"api-call-service","z":"5447a0cbbda49da2","d":true,"name":"turn on auto_unlock","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.auto_unlock","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":420,"wires":[["609663fe668b17f6"]]},{"id":"609663fe668b17f6","type":"debug","z":"5447a0cbbda49da2","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":420,"wires":[]},{"id":"d45e3f739fb87b90","type":"server-state-changed","z":"5447a0cbbda49da2","d":true,"name":"If door is opened","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_multi_sensor_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":480,"wires":[["294fde643f568a5c"],[]]},{"id":"5632cfc9060599b2","type":"comment","z":"5447a0cbbda49da2","d":true,"name":"Turn off auto unlock if door is unlocked or opened","info":"","x":240,"y":380,"wires":[]},{"id":"294fde643f568a5c","type":"api-current-state","z":"5447a0cbbda49da2","d":true,"name":"is auto_unlock on?","server":"4165c230.e7a54c","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.auto_unlock","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":350,"y":420,"wires":[["21da22f1d4b85d34"],[]]},{"id":"e301eca78f26b1cc","type":"server-state-changed","z":"5447a0cbbda49da2","d":true,"name":"If door is unlocked","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"lock.front_door_lock_locked","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unlocked","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":600,"wires":[["8f6b46b2fe6dbcc4"],["196d1df364055cd0"]]},{"id":"aa96072aa6067cc6","type":"debug","z":"5447a0cbbda49da2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":600,"wires":[]},{"id":"55a72a2eaf8ec964","type":"comment","z":"5447a0cbbda49da2","name":"Entry Light Switch Notifications","info":"","x":190,"y":540,"wires":[]},{"id":"d3e496b861f8dbc0","type":"ha-wait-until","z":"5447a0cbbda49da2","d":true,"name":"wait until Drew BT is home","server":"4165c230.e7a54c","version":0,"outputs":2,"entityId":"device_tracker.drew_iphone_bt","entityIdFilterType":"exact","property":"state","comparator":"is","value":"home","valueType":"str","timeout":"8","timeoutType":"num","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":360,"y":180,"wires":[["4c157d3050c50d54"],[]]},{"id":"8f6b46b2fe6dbcc4","type":"inovelli-notification-manager","z":"5447a0cbbda49da2","name":"blink red","nodeid":"","entityid":"switch.entry_light","zwave":"zwave_js","color":0,"brightness":"10","duration":"255","effect":"2","switchtype":8,"clear":false,"x":380,"y":580,"wires":[["7d8ec7cb0790d59e"]]},{"id":"7d8ec7cb0790d59e","type":"api-call-service","z":"5447a0cbbda49da2","name":"call service","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"switch.entry_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":600,"wires":[["aa96072aa6067cc6"]]},{"id":"196d1df364055cd0","type":"inovelli-notification-manager","z":"5447a0cbbda49da2","name":"clear notification","nodeid":"","entityid":"switch.entry_light","zwave":"zwave_js","color":0,"brightness":"10","duration":"255","effect":"2","switchtype":8,"clear":true,"x":400,"y":620,"wires":[["7d8ec7cb0790d59e"]]},{"id":"c0397e480476f60a","type":"server-events","z":"5447a0cbbda49da2","name":"","server":"4165c230.e7a54c","version":1,"event_type":"ios.action_fired","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":170,"y":720,"wires":[["5b306a995423318d"]]},{"id":"174c67d6a168cae0","type":"debug","z":"5447a0cbbda49da2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":720,"wires":[]},{"id":"5b306a995423318d","type":"switch","z":"5447a0cbbda49da2","name":"Event Type: Unlock the Door","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"Unlock the Door","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":720,"wires":[["be35f76b45714144"]]},{"id":"be35f76b45714144","type":"switch","z":"5447a0cbbda49da2","name":"Event Type: Unlock the Door","property":"payload.event.sourceDeviceID","propertyType":"msg","rules":[{"t":"eq","v":"andrews_iphone_12_pro","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":720,"wires":[["bc38fd78768ecaca"]]},{"id":"bc38fd78768ecaca","type":"api-call-service","z":"5447a0cbbda49da2","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"lock","service":"unlock","entityId":"lock.front_door_lock_locked","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":720,"wires":[["174c67d6a168cae0"]]},{"id":"72c9962070f321e6","type":"api-current-state","z":"a917c23be2dabc28","name":"current light state","server":"4165c230.e7a54c","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.tv_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":390,"y":140,"wires":[["9bac677d12f5896d"],["3f8d2e2bc0449524"]]},{"id":"9bac677d12f5896d","type":"change","z":"a917c23be2dabc28","name":"","rules":[{"t":"set","p":"prevState.state","pt":"msg","to":"data.state","tot":"msg"},{"t":"set","p":"prevState.brightness","pt":"msg","to":"data.attributes.brightness","tot":"msg"},{"t":"set","p":"prevState.rgb_color","pt":"msg","to":"data.attributes.rgb_color","tot":"msg"},{"t":"set","p":"prev_off","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":100,"wires":[["b13895af93f9a384"]]},{"id":"b13895af93f9a384","type":"api-call-service","z":"a917c23be2dabc28","name":"turn light $COLOR","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lights","data":"{\"color_name\":$env('COLOR'),\"brightness\":\"255\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":100,"wires":[["03d348710d586285"]]},{"id":"a5b7506bfbba25be","type":"api-call-service","z":"a917c23be2dabc28","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lights","data":"{\"brightness\":msg.prevState.brightness,\"rgb_color\":msg.prevState.rgb_color}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1670,"y":60,"wires":[["0e66855dba50d3bc"]]},{"id":"22ff921580cde032","type":"delay","z":"a917c23be2dabc28","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":100,"wires":[["2a7b3f1487b7c6ec"]]},{"id":"2a7b3f1487b7c6ec","type":"switch","z":"a917c23be2dabc28","name":"","property":"prev_off","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":100,"wires":[["3989d2a66c183f89"],["18f062431a999931"]]},{"id":"3f8d2e2bc0449524","type":"api-call-service","z":"a917c23be2dabc28","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":240,"wires":[["98737c2fa697f485"]]},{"id":"18f062431a999931","type":"api-call-service","z":"a917c23be2dabc28","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_lights","data":"{\"brightness\":msg.prevState.brightness,\"rgb_color\":msg.prevState.rgb_color}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":120,"wires":[["54a4b9cb1352a507"]]},{"id":"54a4b9cb1352a507","type":"api-call-service","z":"a917c23be2dabc28","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.tv_lights","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1730,"y":120,"wires":[["0e66855dba50d3bc"]]},{"id":"98737c2fa697f485","type":"api-current-state","z":"a917c23be2dabc28","name":"current light state","server":"4165c230.e7a54c","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.tv_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":670,"y":240,"wires":[["213a025da48b6b92"]]},{"id":"38c87a13d99d3e7c","type":"change","z":"a917c23be2dabc28","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":140,"wires":[["72c9962070f321e6"]]},{"id":"213a025da48b6b92","type":"change","z":"a917c23be2dabc28","name":"","rules":[{"t":"set","p":"prevState.state","pt":"msg","to":"data.state","tot":"msg"},{"t":"set","p":"prevState.brightness","pt":"msg","to":"data.attributes.brightness","tot":"msg"},{"t":"set","p":"prevState.rgb_color","pt":"msg","to":"data.attributes.rgb_color","tot":"msg"},{"t":"set","p":"prev_off","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":240,"wires":[["b13895af93f9a384"]]},{"id":"3989d2a66c183f89","type":"json","z":"a917c23be2dabc28","name":"","property":"prevState.rgb_color","action":"obj","pretty":false,"x":1510,"y":60,"wires":[["a5b7506bfbba25be"]]},{"id":"0e66855dba50d3bc","type":"change","z":"a917c23be2dabc28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":80,"wires":[[]]},{"id":"03d348710d586285","type":"change","z":"a917c23be2dabc28","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"$env('DELAY_TIME')*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":280,"wires":[["22ff921580cde032"]]},{"id":"912d8692fc41f24d","type":"server-state-changed","z":"bed7bf5d2a2d1f24","name":"Doorbell Ding","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_doorbell","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":100,"wires":[["a4a1d95c22ec1850"],[]]},{"id":"bc7dd043af1ef237","type":"subflow:a917c23be2dabc28","z":"bed7bf5d2a2d1f24","name":"Flash TV lights Red for 30s","env":[{"name":"DELAY_TIME","value":"30","type":"num"}],"x":560,"y":100,"wires":[["4c69c60bef752906"]]},{"id":"4c69c60bef752906","type":"debug","z":"bed7bf5d2a2d1f24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"a4a1d95c22ec1850","type":"api-current-state","z":"bed7bf5d2a2d1f24","name":"if not away","server":"4165c230.e7a54c","version":2,"outputs":2,"halt_if":"away","halt_if_type":"str","halt_if_compare":"does_not_include","entity_id":"input_select.location_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":100,"wires":[["bc7dd043af1ef237","8c76eb5f4e2ecc06"],[]]},{"id":"eb9370265de65626","type":"switch","z":"39034338.01926c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":360,"wires":[["7dbc6e42.d2b55"],["dbe58b2e.622658"],[]]},{"id":"b2d1574bd28cb318","type":"api-call-service","z":"a15211ee09bb48e9","name":"Arm Alexa Guard","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.alexa_guard_4af74","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":1060,"wires":[["e610705a983eec42"]]},{"id":"7887f08dc3f1c0f5","type":"inject","z":"a15211ee09bb48e9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":1060,"wires":[["b2d1574bd28cb318"]]},{"id":"e610705a983eec42","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":1060,"wires":[]},{"id":"6ab0d0145ad84f65","type":"api-call-service","z":"a15211ee09bb48e9","name":"Disarm Alexa Guard","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.alexa_guard_4af74","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":1140,"wires":[["5bdcf527bdf38644"]]},{"id":"de607011cf8af44e","type":"inject","z":"a15211ee09bb48e9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1140,"wires":[["6ab0d0145ad84f65"]]},{"id":"5bdcf527bdf38644","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":1140,"wires":[]},{"id":"a82bad6f2fa3f57a","type":"time-range-switch","z":"a15211ee09bb48e9","name":"","lat":"34.171509","lon":"-118.601668","startTime":"12:00","endTime":"23:59","startOffset":0,"endOffset":"0","x":550,"y":380,"wires":[["a6552e9a82965d06"],[]]},{"id":"8ea4fcba93b39ff2","type":"api-call-service","z":"85c380e5d91e39da","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"timer","service":"start","entityId":"timer.tea_timer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":420,"wires":[[]]},{"id":"97f9161eb697d74e","type":"inject","z":"85c380e5d91e39da","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":890,"y":200,"wires":[["c5eceb891b0a7a04"]]},{"id":"cb5f0108.1d331","type":"server-events","z":"21f238a495b3a00a","name":"","server":"4165c230.e7a54c","version":1,"event_type":"ios.notification_action_fired","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":180,"y":300,"wires":[["f5a07f13.d9b48"]]},{"id":"f5a07f13.d9b48","type":"switch","z":"21f238a495b3a00a","name":"Action","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"SENDSTILLANDCLIP","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":300,"wires":[["d827c0ba.25d74"]]},{"id":"1bf83cf6.c0f8b3","type":"comment","z":"21f238a495b3a00a","name":"Camera alert actionable notifications","info":"","x":180,"y":260,"wires":[]},{"id":"d4284571.377438","type":"mqtt in","z":"21f238a495b3a00a","name":"","topic":"frigate/events","qos":"2","datatype":"auto","broker":"4238db6e.227ed4","nl":false,"rap":false,"x":110,"y":140,"wires":[["918f76bd.2d4248"]]},{"id":"918f76bd.2d4248","type":"json","z":"21f238a495b3a00a","name":"","property":"payload","action":"","pretty":false,"x":470,"y":140,"wires":[["a891d7da.c4fbe8"]]},{"id":"a891d7da.c4fbe8","type":"switch","z":"21f238a495b3a00a","name":"filter","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"new","vt":"str"},{"t":"eq","v":"end","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":594,"y":140,"wires":[["3eeecad.42ad936"],[]]},{"id":"873791fb.318e5","type":"comment","z":"21f238a495b3a00a","name":"Frigate notifications","info":" - ","x":130,"y":40,"wires":[]},{"id":"3eeecad.42ad936","type":"function","z":"21f238a495b3a00a","name":"Format notification","func":"ha_external_url = \"https://o61sm9rwgmfhut7k9el3fkn74hmq99pd.ui.nabu.casa\";\nmsg.event_id = msg.payload.after.id;\nmsg.clip = ha_external_url + \"/api/frigate/notifications/\" + msg.event_id + \"/\" + msg.payload.after.camera + \"/clip.mp4\";\nmsg.thumbnail = ha_external_url + \"/api/frigate/notifications/\" + msg.event_id + \"/thumbnail.jpg?format=ios\";\nmsg.topic = msg.payload.after.camera + \"-\" + msg.payload.after.label;\nmsg.relativetime = msg.relativetime || \"7 minutes\";\n\nswitch (msg.payload.after.camera) {\n case('doorbell'):\n msg.verb = \"at\";\n msg.location = 'front door';\n break;\n case('courtyard-south'):\n msg.verb = \"in\";\n msg.location = \"entry courtyard\";\n break;\n default:\n msg.verb = \"in\";\n msg.location = msg.payload.after.camera;\n}\n\nmsg.message = \"A \" + msg.payload.after.label + \" is \" + msg.verb + \" the \" + msg.location;\n\nmsg.payload = { data: {'message': msg.message, data: { 'entity_id': \"camera.\" + msg.payload.after.camera, action_data: { 'entity_id': \"camera.\" + msg.payload.after.camera, 'url': msg.clip, 'message': msg.message, 'screenshot': msg.thumbnail }, push: { 'category': 'camera', 'thread-id': 'home-security' }, attachment: { 'url': msg.thumbnail } } } };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":754,"y":140,"wires":[["8a81efd7.52c4b","99cb119b3ca92740"]]},{"id":"d827c0ba.25d74","type":"function","z":"21f238a495b3a00a","name":"Format message","func":"msg.url = msg.payload.event.action_data.url;\nmsg.phone = msg.payload.event.sourceDeviceID;\n\nmsg.payload_msg = { data: {'message': 'Press and hold for still picture, click for video clip', data: { 'url': msg.url, attachment: { 'url': msg.payload.event.action_data.screenshot } } } };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":300,"wires":[["93c02068.87b53"]]},{"id":"3337b9d2.cab866","type":"comment","z":"21f238a495b3a00a","name":"Send still picture and video clip","info":"","x":610,"y":260,"wires":[]},{"id":"554a986.6c5ce68","type":"comment","z":"21f238a495b3a00a","name":"Notify","info":"","x":1190,"y":260,"wires":[]},{"id":"64bbd5ec.5b068c","type":"change","z":"21f238a495b3a00a","name":"","rules":[{"t":"move","p":"payload_msg","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":300,"wires":[["723e85d7.9f79cc"]]},{"id":"8a81efd7.52c4b","type":"rbe","z":"21f238a495b3a00a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"event_id","x":914,"y":140,"wires":[["55377041.3ef6f"]]},{"id":"fffcb223.8e019","type":"debug","z":"21f238a495b3a00a","name":"Frigate notification","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1254,"y":160,"wires":[]},{"id":"55377041.3ef6f","type":"function","z":"21f238a495b3a00a","name":"Rate Limiter","func":"// Defaults to 10 minutes, overridable with msg.ratelimitms\n// Will limit per topic (including by null ones)\nvar interval = msg.ratelimitms || (1000*60*10); // minimum interval between messages (ms)\nvar countToTrigger = msg.countToTrigger || 1;\nvar lastReleasedKey = \"lastReleased_\" + (msg.topic.replace(/ /g, \"_\") || \"null_topic\");\nvar lastHitKey = \"lastHit_\" + (msg.topic.replace(/ /g, \"_\") || \"null_topic\");\nvar cntKey = \"count_\" + (msg.topic.replace(/ /g, \"_\") || \"null_topic\");\nvar lastReleased = (context.get(lastReleasedKey) || 0);\nvar lastHit = (context.get(lastHitKey) || 0);\nvar now = Date.now();\nif (now-lastHit > interval) {\n node.warn(\"resetting count, too far apart.\");\n context.set(cntKey,0); // Clear hits, too far apart.\n}\ncontext.set(lastHitKey,now);\nif (now-lastReleased > interval) {\n var count = (context.get(cntKey) || 0);\n count++;\n if (count >= countToTrigger) {\n context.set(lastReleasedKey,now);\n context.set(cntKey,0);\n node.status({fill:\"green\",shape:\"ring\",text:\"passed on\"});\n return msg;\n } else {\n node.status({fill:\"red\",shape:\"ring\",text:\"Waiting for \" + \n (countToTrigger - count) + \" more hits.\"});\n context.set(cntKey,count);\n return null;\n }\n} else {\n var timeLeft = (interval - (now-lastReleased)) / 1000; \n node.status({fill:\"red\",shape:\"ring\",text:\"blocked for \" + timeLeft + \" seconds\"});\n return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1054,"y":140,"wires":[["d4047b74.fbb8d8","fffcb223.8e019"]]},{"id":"807c473.4e0d5b8","type":"comment","z":"21f238a495b3a00a","name":"Limits notifications per camera-object","info":" - ","x":994,"y":100,"wires":[]},{"id":"d4047b74.fbb8d8","type":"api-call-service","z":"21f238a495b3a00a","name":"Notify (ios)","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_drews_iphone","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1234,"y":120,"wires":[[]]},{"id":"723e85d7.9f79cc","type":"api-call-service","z":"21f238a495b3a00a","name":"Notify (ios)","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_drews_iphone","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1470,"y":300,"wires":[[]]},{"id":"93c02068.87b53","type":"http request","z":"21f238a495b3a00a","name":"Clip HTTP check","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"849977e5.257f68","persist":false,"proxy":"","authType":"","x":810,"y":300,"wires":[["1007d7a5.ca5e78"]]},{"id":"1007d7a5.ca5e78","type":"switch","z":"21f238a495b3a00a","name":"Clip ready?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":300,"wires":[["4f304f9a.a0c31","64bbd5ec.5b068c"],["f0cbe067.17d2d"]]},{"id":"4f304f9a.a0c31","type":"change","z":"21f238a495b3a00a","name":"Reset counter","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":400,"wires":[["f0cbe067.17d2d"]]},{"id":"9565d995.0f7668","type":"comment","z":"21f238a495b3a00a","name":"Reset counter after max loops or succesfull delivery","info":"","x":1330,"y":360,"wires":[]},{"id":"562a1719.a9ae18","type":"comment","z":"21f238a495b3a00a","name":"Try again until clip is ready","info":"","x":1250,"y":460,"wires":[]},{"id":"f0cbe067.17d2d","type":"counter","z":"21f238a495b3a00a","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1200,"y":500,"wires":[["7a6177b9.874598"]]},{"id":"7a6177b9.874598","type":"delay","z":"21f238a495b3a00a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":500,"wires":[["6d4f45d0.5ddf6c"]]},{"id":"6d4f45d0.5ddf6c","type":"switch","z":"21f238a495b3a00a","name":"Over 8","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"8","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1470,"y":500,"wires":[["4f304f9a.a0c31"],["93c02068.87b53"]]},{"id":"99cb119b3ca92740","type":"debug","z":"21f238a495b3a00a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":914,"y":200,"wires":[]},{"id":"60d89113fd49595b","type":"eztimer","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"","debug":false,"autoname":"sunset - sunrise","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"34.16765","lon":"-118.63825","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"sunset","ontimetod":"17:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"str","onvalue":"sunset","onoffset":"60","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"sunrise","offtimetod":"dusk","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"str","offvalue":"sunrise","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":220,"y":480,"wires":[["0b520140c9313079"]]},{"id":"0b520140c9313079","type":"switch","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"},{"t":"eq","v":"sunrise","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":480,"wires":[["ee7db47612ba0176"],["137427e39874ea62"]]},{"id":"2147eb974dc82768","type":"api-call-service","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.patio_light","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":480,"wires":[[]]},{"id":"6736cdeb5701b2c1","type":"api-call-service","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.patio_light","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":540,"wires":[[]]},{"id":"89d7e035be9d9bbc","type":"server-state-changed","z":"852fda1caf311b19","g":"67b09985f8aad9de","name":"kitchen motion","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_motion_sensor_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":280,"wires":[["7ff5979ccf925d6b","e265e05825ab3338"],["e265e05825ab3338"]]},{"id":"7ff5979ccf925d6b","type":"api-current-state","z":"852fda1caf311b19","g":"67b09985f8aad9de","name":"is anyone home?","server":"4165c230.e7a54c","version":2,"outputs":2,"halt_if":"away","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.location_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":240,"wires":[["1459041bf6b30158"],[]]},{"id":"aca6ead69fd04046","type":"api-call-service","z":"852fda1caf311b19","g":"67b09985f8aad9de","name":"turn on kitchen light","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.kitchen_light","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":220,"wires":[[]]},{"id":"e265e05825ab3338","type":"trigger","z":"852fda1caf311b19","g":"67b09985f8aad9de","name":"","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"3","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":300,"wires":[["64266e5081916999"]]},{"id":"64266e5081916999","type":"api-call-service","z":"852fda1caf311b19","g":"67b09985f8aad9de","name":"turn off kitchen light","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.kitchen_light","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":300,"wires":[[]]},{"id":"1ae1faa5ce9bff37","type":"api-current-state","z":"21f238a495b3a00a","name":"is front door closed?","server":"4165c230.e7a54c","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"binary_sensor.front_door_sensor_contact","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":200,"wires":[[],[]]},{"id":"5a9ed9733b4faadb","type":"api-call-service","z":"a15211ee09bb48e9","name":"Turn on Away scene","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.away","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":440,"wires":[["48d7878ca1e56ffd"]]},{"id":"f896756bd3089a6c","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":440,"wires":[]},{"id":"48d7878ca1e56ffd","type":"api-call-service","z":"a15211ee09bb48e9","name":"set Ecobee to away","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.ecobee","data":"{\"preset_mode\":\"Away\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":440,"wires":[["f896756bd3089a6c"]]},{"id":"ab2075e5540750b5","type":"api-call-service","z":"a15211ee09bb48e9","name":"set Ecobee to asleep","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.ecobee","data":"{\"preset_mode\":\"Sleep\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":500,"wires":[["66d9a5b820ac6797"]]},{"id":"66d9a5b820ac6797","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":500,"wires":[]},{"id":"be63c63af2ec2362","type":"debug","z":"a15211ee09bb48e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":540,"wires":[]},{"id":"28f17dfa17facd4e","type":"api-call-service","z":"a15211ee09bb48e9","name":"set Ecobee to home","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.ecobee","data":"{\"preset_mode\":\"Home\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":540,"wires":[["be63c63af2ec2362"]]},{"id":"8c76eb5f4e2ecc06","type":"api-call-service","z":"bed7bf5d2a2d1f24","name":"Notify on all Alexas","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"data\":{\"type\":\"tts\"},\"target\":[\"group.echos\"],\"message\":\"Someone is at the front door\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":140,"wires":[["4c69c60bef752906"]]},{"id":"f0e6b62393121db2","type":"inject","z":"bed7bf5d2a2d1f24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":180,"wires":[["8c76eb5f4e2ecc06"]]},{"id":"1459041bf6b30158","type":"time-range-switch","z":"852fda1caf311b19","g":"67b09985f8aad9de","name":"","lat":"","lon":"","startTime":"18:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":640,"y":220,"wires":[["aca6ead69fd04046"],[]]},{"id":"369a65c44a71ee68","type":"comment","z":"852fda1caf311b19","g":"1e61b5d8f19fafed","name":"LightGroup1","info":"","x":220,"y":80,"wires":[]},{"id":"203253975e893a06","type":"comment","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"Back Patio Lights","info":"","x":220,"y":420,"wires":[]},{"id":"38d8ddf8a0f5098a","type":"comment","z":"852fda1caf311b19","g":"67b09985f8aad9de","name":"Kitchen Motion Lights","info":"","x":240,"y":220,"wires":[]},{"id":"935d7f4eab37b283","type":"switch","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":480,"wires":[["2147eb974dc82768"],[]]},{"id":"29bb987fb1516928","type":"function","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"is anyone home?","func":"const globalHomeAssistant = global.get('homeassistant');\nvar drew_home = globalHomeAssistant.homeAssistant.states[\"person.andrew_lane\"].state;\nvar shelby_home = globalHomeAssistant.homeAssistant.states[\"person.shelby_hulett\"].state;\n\nif(drew_home==\"home\" || shelby_home==\"home\"){\n    msg.payload = \"home\";\n}\nelse{\n    msg.payload = \"not_home\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":480,"wires":[["935d7f4eab37b283"]]},{"id":"339265bac978e855","type":"time-range-switch","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"","lat":"34.16765","lon":"-118.63825","startTime":"sunset","endTime":"sunrise","startOffset":"60","endOffset":0,"x":440,"y":600,"wires":[["4f4b3a8ec49a2206"],[]]},{"id":"137427e39874ea62","type":"link out","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"","links":["b7d53d420cc38bce"],"x":475,"y":500,"wires":[]},{"id":"b7d53d420cc38bce","type":"link in","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"turn_off","links":["137427e39874ea62","6ba894c743fb7707","d250b3e649ae6c6f"],"x":635,"y":540,"wires":[["6736cdeb5701b2c1"]]},{"id":"ee7db47612ba0176","type":"link out","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"","links":["161108c385a4e1ea"],"x":475,"y":460,"wires":[]},{"id":"161108c385a4e1ea","type":"link in","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"turn_on","links":["ee7db47612ba0176","4f4b3a8ec49a2206"],"x":635,"y":480,"wires":[["29bb987fb1516928"]]},{"id":"4f4b3a8ec49a2206","type":"link out","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"","links":["161108c385a4e1ea"],"x":555,"y":600,"wires":[]},{"id":"2498b7a41ee4ed7f","type":"server-state-changed","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"Is everyone asleep?","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sleep","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"everyone_asleep","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":580,"wires":[["d250b3e649ae6c6f"],["339265bac978e855"]]},{"id":"d250b3e649ae6c6f","type":"link out","z":"852fda1caf311b19","g":"d98d90362d2ffe03","name":"","links":["b7d53d420cc38bce"],"x":375,"y":560,"wires":[]},{"id":"41c6bc5e651a39fb","type":"eztimer","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"","debug":false,"autoname":"sunset - 23:59:00","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"34.16765","lon":"-118.63825","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"sunset","ontimetod":"17:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"str","onvalue":"sunset","onoffset":"60","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"sunrise","offtimetod":"23:59:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"str","offvalue":"sunrise","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":230,"y":800,"wires":[["16312e0fb7387d59"]]},{"id":"16312e0fb7387d59","type":"switch","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"},{"t":"eq","v":"sunrise","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":800,"wires":[["d0280d1499da7517"],["036ad86cd32ed5df"]]},{"id":"56f9e19fc99d5b33","type":"api-call-service","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.front_gate_lights, switch.front_door_light","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":800,"wires":[[]]},{"id":"97b2179367cdcd6d","type":"api-call-service","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"","server":"4165c230.e7a54c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.front_gate_lights, switch.front_door_light","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":860,"wires":[[]]},{"id":"6725c4a36f6c9c5f","type":"comment","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"Front Courtyard Lights","info":"","x":240,"y":740,"wires":[]},{"id":"036ad86cd32ed5df","type":"link out","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"","links":["98861fc628e5b005"],"x":475,"y":820,"wires":[]},{"id":"98861fc628e5b005","type":"link in","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"turn_off","links":["036ad86cd32ed5df","6ba894c743fb7707","8b4d97e40d179b5e","9fb739a7942847ef"],"x":635,"y":860,"wires":[["97b2179367cdcd6d"]]},{"id":"d0280d1499da7517","type":"link out","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"","links":["d030ca66b9c8d0a1"],"x":475,"y":780,"wires":[]},{"id":"d030ca66b9c8d0a1","type":"link in","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"turn_on","links":["d0280d1499da7517","2d8fb85d8bc879d0","8e08dede5d63f149"],"x":635,"y":800,"wires":[["56f9e19fc99d5b33"]]},{"id":"333eb0dcf9efa66b","type":"server-state-changed","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"Location mode changes","server":"4165c230.e7a54c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.location_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":900,"wires":[["ead1ac1a43bfaecc"]]},{"id":"ead1ac1a43bfaecc","type":"switch","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"night","vt":"str"},{"t":"eq","v":"asleep","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":900,"wires":[["8e08dede5d63f149"],["9fb739a7942847ef"]]},{"id":"9fb739a7942847ef","type":"link out","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"","links":["98861fc628e5b005"],"x":495,"y":920,"wires":[]},{"id":"8e08dede5d63f149","type":"link out","z":"852fda1caf311b19","g":"db1aca64f5e8d5d8","name":"","links":["d030ca66b9c8d0a1"],"x":495,"y":880,"wires":[]}]